services:
  custom-exporter:
    build:
      context: .
      dockerfile: Dockerfile.custom
    container_name: custom-exporter
    restart: unless-stopped
    ports:
      - "8000:8000"

  node-exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    restart: unless-stopped
    command:
      - --path.procfs=/host/proc
      - --path.sysfs=/host/sys
      - --path.rootfs=/host
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/host:ro
    ports:
      - "9100:9100"

  postgres:
    image: postgres:16-alpine
    container_name: pg
    environment:
      POSTGRES_PASSWORD: "1234"
      POSTGRES_DB: "appdb"
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d appdb"]
      interval: 5s
      timeout: 3s
      retries: 10
    restart: unless-stopped

  postgres-exporter:
    image: prometheuscommunity/postgres-exporter:latest
    container_name: pg-exporter
    environment:
      DATA_SOURCE_NAME: postgresql://postgres:1234@postgres:5432/appdb?sslmode=disable
      PG_EXPORTER_EXTEND_QUERY_PATH: /etc/postgres_exporter/queries.yml
    command:
      - --web.listen-address=:9187
      - --extend.query-path=/etc/postgres_exporter/queries.yml
    volumes:
      - ./queries.yml:/etc/postgres_exporter/queries.yml:ro
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "9187:9187"
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.retention.time=7d
    ports:
      - "9090:9090"
    depends_on:
      - postgres-exporter
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    environment:
      GF_SECURITY_ADMIN_USER: "admin"
      GF_SECURITY_ADMIN_PASSWORD: "admin"
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    restart: unless-stopped
